<div class="container">
    <div class="row text-center">
      <div class="col-lg-12 mt-4">
        <h2>Upcoming university events</h2>
        <p>From a group of academic pioneers in 1901 to the Free Speech Movement in 1964, Bridge University.</p>
      </div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 pl-0 pr-0">
        <img [src]='image1' alt="study" class="img">
        <img [src]='image5' alt="study" class="img">
      </div>
      <div class="col-lg-3 col-md-6 pr-0 pl-0">
        <img [src]='image2' alt="study" class="img">
        <img [src]='image6' alt="study" class="img">
      </div>
      <div class="col-lg-3 col-md-6 pr-0 pl-0">
        <img [src]='image3' alt="study" class="img">
        <img [src]='image7' alt="study" class="img">
      </div>
      <div class="col-lg-3 col-md-6 pr-0 pl-0">
        <img [src]='image4' alt="study" class="img">
        <img [src]='image8' alt="study" class="img">
      </div>
    </div>
  </div>

